.webinar {
    min-height: 515px;
    padding: 82px 0 64px 0;
    &__img  {
        display: block;
        margin: 0 auto;
    }
    &__subtitle {
        margin-top: 37px;
        color: #252525;
        font-size: 30px;
        font-weight: 400;
        font-style: normal;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
    }
    &__title {
        margin-top: 30px;
        color: #299cbd;
        font-size: 36px;
        font-weight: 900;
        font-style: normal;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
    }
    &__text {
        margin-top: 25px;
        color: #4a4a4a;
        font-size: 23px;
        font-weight: 400;
        font-style: normal;
        line-height: 20px;
        text-align: center;
    }
}